

body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    outline: 0;
}

.wrapper{
    background: url(https://cdna.artstation.com/p/assets/images/images/004/105/600/large/stefano-spaziani-tigre-copertina.jpg?1480408252);
    min-height: 40rem;
    width:100%;
    margin: 0%; 
    min-width: 100rem;
    padding-left: 0px;
    
    

}


    

nav{
    width: 100%;
    height: 80px;
    background-color:orangered;
    line-height: 80px;
}
nav ul{
    float: right;
    margin: 14px;
    margin-right: 1.9rem;
    padding-right: 0%;
    display: flex;
    justify-content: center;
    margin-top: -.2%;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
  padding-right: 23px;
}

nav ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 20px;
   padding-right: 23px;
   
}


.logo{
    height: 60px;
    width: 60px;
    margin-left: 1.9rem;
    margin-top: 0.5%;
    
}
nav ul li:hover{
    background-color: rgb(204, 58, 6);
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 1.2rem;
    text-align:left;

}
.section{
    width: 80%;
    margin: auto;
    overflow:hidden;
    margin-top: 14%;
}

.section h1{
    color: red;
    line-height: 50px;

}   
.section p{
    color:red;
}
.btn-1{
    background-color: orangered;
    padding: 0.7rem 1rem;
    color: rgb(214, 18, 18);
    border: none;
    border-radius: 10px;
}
.features{
    margin-top: 4%;
    margin-bottom: 2%;
 color: aliceblue;
}

.features button{
    padding: 0.7rem 2rem;
    margin-right: 2rem;
    font-size: 1.2rem;
    opacity: 0.7;
}

.showcase h1 {
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    color: white;
}



.apply{
    margin-top: 4%;
    background-color: orangered;
    padding: 0.7rem 1rem;
    color:aliceblue;
    border: none;
    border-radius: 10px;
}

footer{
    background-color: orangered;
    color: black;
    text-align: center;
    padding: 1.2rem;
    margin-top: 4%;
}

.drop1btn{
    background-color: orangered;
    color: black;
    padding: 1px;
    font-size: 16px;
    border: none;

}



.dropbtn{
    background-color: orangered;
    color:black;
    padding: 30px;
    font-size: 16px;
    border: none;

}
.dropdown{
    position:relative;
    display: inline-block;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: orange;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover{background-color: rgb(204, 58, 6);}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: rgb(214, 18, 18);}



.drop3btn{
    background-color: orangered;
    color: black;
    padding: 30px;
    font-size: 16px;
    border: none;

}
.drop3{
    position:relative;
    display: inline-block;
}
.dropdown-content3{
    display: none;
    position: absolute;
    background-color: orange;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content3 a{
    color: rgb(0, 0, 0);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content3 a:hover{background-color: orangered;}
.drop3:hover .dropdown-content3 {display: block;}
.drop3:hover .drop3btn {background-color: rgb(214, 18, 18);}



.drop4btn{
    background-color: orangered;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;

}
.dropdown4{
    position:relative;
    display: inline-block;
}
.dropdown-content4{
    display: none;
    position: absolute;
    background-color: orange;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content4 a{
    color: rgb(0, 0, 0);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content4 a:hover{background-color: orangered;}
.drop4:hover .dropdown-content4 {display: block;}
.drop4:hover .drop4btn {background-color: rgb(214, 18, 18);}


.drop5btn{
    background-color: orangered;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;

}
.drop5{
    position:relative;
    display: inline-block;
}
.dropdown-content5{
    display: none;
    position: absolute;
    background-color: orange;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content5 a{
    color: rgb(0, 0, 0);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content5 a:hover{background-color: orangered;}
.drop5:hover .dropdown-content5 {display: block;}
.drop5:hover .drop5btn {background-color: rgb(214, 18, 18);}



.drop6btn{
    background-color: orangered;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;

}
.drop6{
    position:relative;
    display: inline-block;
}
.dropdown-content6{
    display: none;
    position: absolute;
    background-color: orange;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content6 a{
    color: rgb(0, 0, 0);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content6 a:hover{background-color: orangered;}
.drop6:hover .dropdown-content6 {display: block;}
.drop6:hover .drop6btn {background-color: rgb(214, 18, 18);}


.drop7btn{
    background-color: orangered;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;

}
.drop7{
    position:relative;
    display: inline-block;
}
.dropdown-content7{
    display: none;
    position: absolute;
    background-color: orange;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content7 a{
    color: rgb(0, 0, 0);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content7 a:hover{background-color: orangered;}
.drop7:hover .dropdown-content7 {display: block;}
.drop7:hover .drop7btn {background-color: rgb(214, 18, 18);}


.drop8btn{
    background-color: orangered;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;

}
.drop8{
    position:relative;
    display: inline-block;
}
.dropdown-content8{
    display: none;
    position: absolute;
    background-color: orangered;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content8 a{
    color:black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content8 a:hover{background-color: rgb(179, 255, 0);}
.drop8:hover .dropdown-content8 {display: block;}
.drop8:hover .drop8btn {background-color: rgb(214, 18, 18);}

.googled{
    background-color:rgb(0, 0, 0);
   margin-top: -2.1%;
   margin-bottom: -4%;

}
.showcase{
    background-color: rgb(0, 0, 0);
    margin-top: -5%;
    margin-bottom: -4%;
    width: 100%;
}

.main{
    position:absolute;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 100vw;
    display:grid;
    grid-template-columns:repeat(auto-fill,minmax(300px,300px));
    column-gap: 10px;
    row-gap: 10px;

    
}

img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: center;
    margin-top: 20%;
    margin-left: 40%;
    
}

.buttoners{
    margin-top: 14.5%;
    margin-left: 220px;
    display:inline-block;
    margin-bottom: 4%;
    
}

.background{
    background-color: black;
    margin-top: -4%;
 width: 100%;
    height: 200%;
    margin-bottom: -4%;
}

.text9{
    color: white;
    margin-top:4%;
}

.slides{
    margin-top: 70px;
   
    margin-bottom: -4%;
    background-color: black;
}
